.outer_face {
	position: relative;
	width: 400px;
	height: 500px;
}

.inner_face {
	position: relative;
	width: 88%;
	height: 88%;
	background: url(bg.png)no-repeat center;
	-moz-border-radius: 1000px;
	-webkit-border-radius: 1000px;
	border-radius: 200%;
	z-index: 1000;
	left: 6%;
	top: 6%;
}

.hand, .hand.hour {
	position: absolute;
	width: 4px;
	height: 15%; 
	top: 150px;
	left: 50%;
	margin-left: -2px; 
	background: black;
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-moz-transform-origin: bottom;
	-ms-transform-origin: bottom;
	-webkit-transform-origin: bottom;
	transform-origin: bottom;
	z-index: -1;
}

.hand.minute {
	height: 25%;
	top: 110px;
	width: 5px;
	margin-left: -2.5px;
}

.hand.second {
	height: 25%;
	width: 2px;
	margin-left: -1px;
	top: 110px;
	background: red
}